[submodule "user-service"]
	path = user-service
	url = git@github.com:poliChess/user-service.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:poliChess/api-gateway.git
[submodule "matchmaking-service"]
	path = matchmaking-service
	url = git@github.com:poliChess/matchmaking-service.git
[submodule "game-engine-service"]
	path = game-engine-service
	url = git@github.com:poliChess/game-engine-service.git
[submodule "websocket-server"]
	path = websocket-server
	url = git@github.com:poliChess/websocket-server.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:poliChess/frontend.git
[submodule "service-discovery"]
	path = service-discovery
	url = git@github.com:poliChess/service-discovery.git
